<div class="flex items-center justify-center min-h-screen">
    <div class="px-8 py-6 mt-4 text-left shadow-lg text-black">
        <h3 class="text-2xl font-bold text-center">Login to your account</h3>
        <div [formGroup]="loginForm">
            <div class="mt-4">
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput  type="email" placeholder="Password" formControlName="email">
                      </mat-form-field>
                    
                </div>
                <div class="mt-2">
                    <mat-form-field class="example-full-width border-black" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput  type="password" placeholder="Password" formControlName="password">
                      </mat-form-field>
                    
                </div>
                <div class="flex items-baseline justify-between">
                    <app-button (btnClick)="login()" [isDisabled]="!loginForm.valid" 
                    class="{{'px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900'}}" type="submit">
                    <div class="flex">
                        <div class="animate-spin rounded-full h-4 w-4 border-b-2 border-white"></div>
                        <span class="ml-2">Login</span>
                    </div>
                    </app-button>
                    <a href="#" class="text-sm text-blue-600 hover:underline ml-2">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
